/* Reset CSS cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #d32f2f; /* Màu đỏ lễ hội */
    --text-color: #333;
    --bg-light: #f9f9f9;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-light);
    line-height: 1.6;
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }

/* Container giới hạn chiều rộng */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}